@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2000ms;
  }
  .animation-delay-4000 {
    animation-delay: 4000ms;
  }
}

.example-thumb {
  background: #f06595;
  height: 1rem;
  width: 1rem;
  border-radius: 100px;
}

.example-track {
  height: 1rem;
  width: 100px;
  border-radius: 100px;
  background: #eee;
}
